examples/*
# Intellij project files
*.iml
*.ipr
*.iws
.idea/

#Gradle
.gradletasknamecache
.gradle/
build/
bin/
gradlew.bat

#Project specific
releases/
data/
src/test/resources/*
!src/test/resources/.gitkeep
!src/test/resources/functional/templates/test-template.xls
out/
dist/
compiled/